@font-face {
	font-family: "ProximaNova-Black";
	src: url("../ProximaNova-Black.otf");
}
@font-face {
	font-family: "ProximaNova-Bold";
	src: url("../ProximaNova-Bold.otf");
}
@font-face {
	font-family: "ProximaNova-BoldIt";
	src: url("../ProximaNova-BoldIt.otf");
}
@font-face {
	font-family: "ProximaNova-Extrabld";
	src: url("../ProximaNova-Extrabld.otf");
}
@font-face {
	font-family: "ProximaNova-Light";
	src: url("../ProximaNova-Light.otf");
}
@font-face {
	font-family: "ProximaNova-Regular";
	src: url("../ProximaNova-Regular.otf");
}
@font-face {
	font-family: "ProximaNova-RegularItalic";
	src: url("../ProximaNova-RegularItalic.otf");
}
@font-face {
	font-family: "ProximaNova-Semibold";
	src: url("../ProximaNova-Semibold.otf");
}
@font-face {
	font-family: "ProximaNova-LightIt";
	src: url("../ProximaNova-LightIt.otf");
}
@font-face {
	font-family: "ProximaNova-SemiboldIt";
	src: url("../ProximaNova-SemiboldIt.otf");
}
* {
	/*margin: 0;
	padding: 0;*/
	list-style: none;
	text-decoration: none;
	font-style: normal;	
	color: inherit;
	text-align: center;
	font-family: "ProximaNova-Light";
	font-weight: normal;
}
header {
	padding: 25px 0 33px;
}
.logo {
	background-image: url("../images/logo.svg");
	background-repeat: no-repeat;
	height: 33px;
	width: 180px;
	margin: 0 auto;
}
.container {
	width: 980px;
	margin: 0 auto;
	padding-top: 55px;
}
.header {
	width: 765px;
	margin: 0 auto;
}
.header h1 {
	font-family: "ProximaNova-Light";
	font-size: 32px;
	margin: 0 auto 25px;
}
.horizontalSeparator {
	height: 1px;
	background: #EDEDED;
	clear: both;
}
.boxLeft {
	float: left;
}
.header .boxLeft p {
	font-family: "ProximaNova-Regular";
	font-size: 16px;
	margin: 20px 0 5px;
	text-align: left;
}
.header .boxLeft h1 {
	font-family: "ProximaNova-Semibold";
	font-size: 24px;
	margin: 0 0 8px;
	text-align: left;
}
.header .boxLeft h2 {
	font-family: "ProximaNova-Regular";
	font-size: 18px;
	margin: 0 0 20px;
	text-align: left;
}
.header .boxLeft h2 b{
	font-family: "ProximaNova-Bold";
}
.boxRight {
	float: right;
}
.header .boxRight p{
	font-family: "ProximaNova-Regular";
	font-size: 14px;
	line-height: 20px;
	text-align: right;
}