$blue: #1C7EF9;
$pink: #FF0066;
$grey1: #393939;
$grey2: #4C4C4C;
$grey3: #888888;
$grey4: #B7B7B7;
$grey5: #CCCCCC;
$grey6: #D8D8D8;
$grey7: #E2E2E2;
$grey8: #EDEDED;
$grey9: #F4F4F4;
$grey10: #FAFAFA;
$white: #FFFFFF;
@font-face {
	font-family: "ProximaNova-Black";
	src: url("../fonts/ProximaNova-Black.otf");
}
@font-face {
	font-family: "ProximaNova-Bold";
	src: url("../fonts/ProximaNova-Bold.otf");
}
@font-face {
	font-family: "ProximaNova-BoldIt";
	src: url("../fonts/ProximaNova-BoldIt.otf");
}
@font-face {
	font-family: "ProximaNova-Extrabld";
	src: url("../fonts/ProximaNova-Extrabld.otf");
}
@font-face {
	font-family: "ProximaNova-Light";
	src: url("../fonts/ProximaNova-Light.otf");
}
@font-face {
	font-family: "ProximaNova-Regular";
	src: url("../fonts/ProximaNova-Regular.otf");
}
@font-face {
	font-family: "ProximaNova-RegularItalic";
	src: url("../fonts/ProximaNova-RegularItalic.otf");
}
@font-face {
	font-family: "ProximaNova-Semibold";
	src: url("../fonts/ProximaNova-Semibold.otf");
}
@font-face {
	font-family: "ProximaNova-LightIt";
	src: url("../fonts/ProximaNova-LightIt.otf");
}
@font-face {
	font-family: "ProximaNova-SemiboldIt";
	src: url("../fonts/ProximaNova-SemiboldIt.otf");
}
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-style: normal;	
	font-weight: normal;
}
body{
	/*background: url(../images/design.png) no-repeat center -8px;
	opacity:0.5;*/
	background: $grey9;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header {
	padding: 25px 0 33px;
}
.logo {
	background: url("../images/logo.svg") no-repeat;
	height: 33px;
	width: 180px;
	margin: 0 auto;
}
.container {
	max-width: 980px;
	margin: 0 auto;
	padding-top: 55px;
	background: $white;
	border-radius: 6px;
}
.header {
	max-width: 765px;
	margin: 0 auto;
	h1 {
		font-family: "ProximaNova-Light";
		font-size: 32px;
		line-height: 32px;
		margin: 0 20px 22px;
		color: $grey1;
		text-align: center;
	}
}
.horizontal-separator {
	height: 1px;
	background: $grey9;
	clear: both;
}
.box-left {
	float: left;
	height: 110px;
	color: $grey1;
	text-align: left;
	p {
		font-family: "ProximaNova-Regular";
		font-size: 16px;
		margin: 13px 0 -4px;
		line-height: 32px;
		font-weight: bold;
	}
	h1 {
		font-family: "ProximaNova-Semibold";
		font-size: 24px;
		margin: -6 0 2px;
		line-height: 32px;
	}
	h2 {
		font-family: "ProximaNova-Regular";
		font-size: 18px;
		margin: 0 0 16px;
		line-height: 22px;
		font-weight: bold;
	}
	b{
		font-family: "ProximaNova-Bold";
	}
}
.box-right {
	float: right;
	height: 110px;
	p{
		font-family: "ProximaNova-Regular";
		font-size: 14px;
		line-height: 20px;
		text-align: right;
		margin: 55px 0 16px;
		color: $grey3;
	}
	em{
		color: $pink;
	}
	a {
		border-bottom: $grey3;
		border-bottom-style: dashed;
		border-bottom-width: 1px;
		color: $grey3;
	}
} 
.header .title {
	margin-top: 37px;
	margin-bottom: 60px;
	h2 {
		font-size: 24px;
		line-height: 30px;
		font-family: "ProximaNova-Regular";
		color: $grey1;
		text-align: center;
	}
}
.prices {
	margin: 0 auto;
	text-align: center;
	.column {
		width: 279px;
		color: #393939;
		border-style: solid;
		height: 336px;
		display: inline-block;
		margin-left: -2px;
		margin-right: -3px;
		border-width: 3px;
		border-color: #393939;
		vertical-align: top;
		h1, h2 {
			font-family: "ProximaNova-Semibold";
			font-size: 32px;
			margin: 26px 0 19px;
		}
		h2 {
			margin: 19px 0 -4px;
		}
		p{
			font-family: "ProximaNova-Regular";
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 14px;
		}
		label {
			font-family: "ProximaNova-Regular";
			margin-left: 3px;
			em {
				font-family: "ProximaNova-Semibold";
			}
		}
		button {
			font-family: "ProximaNova-Regular";
			font-size: 18px;
			line-height: 34px;
			width: 210px;
			height: 34px;
			border-radius: 5px;
			border: none;
			background: $grey1;
			color: $white;
		}
	}
	.column.business{
		width: 347px;
		height: 371px;
		margin-top: -24px;
		background: $grey1;
		h1{
			margin: 51px 0 19px -10px;
		}
		h1, p, h2, em {
			color: $white;
			text-align: center;
		}
		em {
			font-family: "ProximaNova-Semibold";
			font-size: 32px;
		}
		.price{
			height: 83px;
		}
		button {
			margin-top: -8px;
			background: $pink;
			color: $white;
		}
		.separator {
			background: $grey3;
		}
	}
	.column.start-up{
		border-right: none;
	}
	.column.enterprise{
		border-left: none;
	}
	.price{
		text-align: left;
		height: 114px;
		button {
			margin: 69px 0 0 34px;
			background: $white;
			color: $grey1;
			border: $grey1;
			border-style: solid;
			border-width: 2px;
		}
		p {
			margin: 31px 0 0 -20px;
		}
	}
	.separator {
		height: 1px;
		background: $grey4;
		width: 81px;
		margin: 0 auto;
	}
}

input[type=radio] {
	transform: scale(1.2);
}
input[type=radio]#month {
	margin: 40px 0 0 60px;
}
input[type=radio]#year {
	margin: 8px 0 0 60px;
}
input[type=radio]:checked#year {
	margin-top: 10px;
}
input[type="radio"]:checked+label{ 
	font-size: 16px;
	line-height: 22px;
	vertical-align: sub;
} 
input[type="radio"]:checked+label em{ 
	font-size: 32px;
} 
input[type="radio"]:not(:checked)+label{ 
	font-size: 14px;
	line-height: 22px;
} 
input[type="radio"]:not(:checked)+label em{ 
	font-size: 16px;
	line-height: 22px;
} 
button {
	cursor: pointer;
}
.questions {
	margin-top: 31px;
	margin-bottom: 26px;
	p{
		font-family: "ProximaNova-Semibold";
		font-size: 20px;
		color: $grey1;
		text-align: center;
	}
	a {
		font-family: "ProximaNova-Bold";
		border-bottom: $grey1;
		border-bottom-style: dotted;
		border-bottom-width: 1px;
		line-height: 26px;
		color: $grey1;
	}
}
.includes {
	width: 944px;
	margin: 0 auto 90px;
	height: 790px;
	.column {
		float: left;
		width: 308px;
		height: 730px;
	}
	.column.start-up {
		margin-left: 3px;
	}
	.column.enterprise {
		margin-left: 7px;
	}
	.column.business {
		margin-top: 28px;
		border-right-color: $grey7;
		border-right-style: solid;
		border-left-color: $grey7;
		border-left-style: solid;
		border-width: 1px;
		margin-left: 7px;
		.chose-if{
			margin-top: -28px;
		}
	}
	.separator {
		height: 2px;
		background: $grey5;
		width: 40px;
		margin: 0 auto;
	}
}
.chose-if {
	height: 149px;
	.or{
		height: 4px;
		width: 3px;
		border-radius: 2px;
		display: block;
		background: $grey6;
		text-align: center;
		margin: 0 auto;
	}
	h3 {
		font-family: "ProximaNova-Semibold";
		font-size: 13px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 9px;
		color: $grey1;
		text-align: center;
	}
	p {
		font-family: "ProximaNova-Regular";
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 6px;
		line-height: 18px;
		margin-top: 7px;
		width: 300px;
		margin-left: 3px;
		color: $grey3;
		text-align: center;
	}
}
.features {
	h1 {
		font-family: "ProximaNova-Bold";
		font-size: 16px;
		line-height: 22px;
		text-transform: uppercase;
		margin-top: 28px;
		margin-bottom: 50px;
		color: $pink;
		text-align: center;
	}
	p {
		font-family: "ProximaNova-Semibold";
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 22px;
		color: $grey1;
		text-align: center;
	}
} 
.hyphen{
	height: 2px;
	background: $grey1;
	width: 12px;
	margin: 36px auto 42px;
	display: block;
}
input[type=range].slider {
	-webkit-appearance: none;
	width: 79%;
	margin: 5px 0;
	background-color: $grey1;
}
input[type=range].slider:focus {
	outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
	width: 79%;
	height: 8px;
	cursor: pointer;
	box-shadow: 0px 0px 0px rgba(255, 255, 0, 0), 0px 0px 0px rgba(255, 255, 26, 0);
	background: #4c4c4c;
	border-radius: 15.3px;
	border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].slider::-webkit-slider-thumb {
	box-shadow: 1.7px 1.7px 0px rgba(0, 0, 0, 0.67), 0px 0px 1.7px rgba(13, 13, 13, 0.67);
	border: 0px solid rgba(0, 0, 0, 0);
	height: 18px;
	width: 18px;
	border-radius: 9px;
	background: #d8d8d8;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
	background: #5b5b5b;
}
input[type=range].slider::-moz-range-track {
	width: 79%;
	height: 8px;
	cursor: pointer;
	box-shadow: 0px 0px 0px rgba(255, 255, 0, 0), 0px 0px 0px rgba(255, 255, 26, 0);
	background: #4c4c4c;
	border-radius: 15.3px;
	border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].slider::-moz-range-thumb {
	box-shadow: 1.7px 1.7px 0px rgba(0, 0, 0, 0.67), 0px 0px 1.7px rgba(13, 13, 13, 0.67);
	border: 0px solid rgba(0, 0, 0, 0);
	height: 18px;
	width: 18px;
	border-radius: 9px;
	background: #d8d8d8;
	cursor: pointer;
}
input[type=range].slider::-ms-track {
	width: 79%;
	height: 8px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range].slider::-ms-fill-lower {
	background: #3d3d3d;
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 30.6px;
	box-shadow: 0px 0px 0px rgba(255, 255, 0, 0), 0px 0px 0px rgba(255, 255, 26, 0);
}
input[type=range].slider::-ms-fill-upper {
	background: #4c4c4c;
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 30.6px;
	box-shadow: 0px 0px 0px rgba(255, 255, 0, 0), 0px 0px 0px rgba(255, 255, 26, 0);
}
input[type=range].slider::-ms-thumb {
	box-shadow: 1.7px 1.7px 0px rgba(0, 0, 0, 0.67), 0px 0px 1.7px rgba(13, 13, 13, 0.67);
	border: 0px solid rgba(0, 0, 0, 0);
	height: 18px;
	width: 18px;
	border-radius: 9px;
	background: #d8d8d8;
	cursor: pointer;
	height: 8px;
}
input[type=range].slider:focus::-ms-fill-lower {
	background: #4c4c4c;
}
input[type=range].slider:focus::-ms-fill-upper {
	background: #5b5b5b;
}
.range-slider {
	margin-top: -12px;
	margin-bottom: -1px;
}

/* Smartphones (portrait) */
@media only screen and (min-device-width : 320px)  and (max-device-width : 480px){
	body{
		background: $white;
	}
	header {
		background: $grey9;
	}
	.container {
		border-radius: 0px;
		padding-top: 30px;
	}
	.horizontal-separator {
		margin: 0 auto;
		width: 80%;
	}
	.box-left {
		float: none;
		height: 70px;
		text-align: center;
	}
	.header .title {
		margin: 24px 20px 26px;
		h2 {
			font-size: 17px;
		}
	}
	.box-right {
		float: none;
		height: 80px;
		p {
			margin: 55px 0 16px;
			text-align: center;
		}
	}
	.prices {
		.column {
			margin: 0;
		}
		.column.business {
			width: 100%;
			margin-top: -3px;
			border: none;
		}
		.column.start-up {
			border-right: solid;
		}
		.column.enterprise {
			border-left: solid;
			margin-top: -3px;
		}
	}
	.questions {
		margin: 30px 20px 25px;
		p {
			font-size: 18px;
		}
	}
	.includes {
		width: 100%;
		.column  {
			float: none;
			width: 100%;
			height: initial;
			p {
				margin: 0 auto;
			}
		}
		.column.business {
			border: none;
			margin: 0;
			.chose-if {
				margin-top: 0;
			}
		}
		.column.start-up {
			border: none;
			margin: 0;
		}
		.column.enterprise {
			border: none;
			margin: 0;
			margin-bottom: 40px;
		}
		.chose-if {
			height: 110px;
			margin-bottom: -30px;
		}
		.features h1 {
			margin-bottom: 20px;
		}
		.hyphen {
			display: none;
		}
		.features {
			margin-bottom: 33px;
		}
		.separator {
			display: none;
		}
	}
}
/* Tablet (portrait) and Smatphones (landscape) */
@media only screen and (min-device-width : 480px) and (max-device-width : 1024px) {
	.container {
		border-radius: 0px;
	}
	.box-right {
		margin-right: 5%;
	}
	.box-left {
		margin-left: 5%;
	}
	.prices {
		.column {
			width: 31%;
		}
		.column.business {
			width: 32%;
		}
		.price button {
			margin-left: 14px;
		}
	}
	.includes {
		width: 100%;
		.column {
			width: 31%;
			.chose-if p {
				width: initial;
			}
		}
		.column.business {
			width: 32%;
		}
	}
}
/*  Smatphones (landscape) */
@media only screen and  (min-device-width : 320px)  and (max-device-width : 667px)  and (orientation : landscape){
	.container {
		height: 100%;
	}
	.prices {
		.column {
			button {
				width: 80%;
				font-size: 13px;
			}
		}
	}
	input[type=radio]#year, input[type=radio]#month {
		margin-left: 34px;
	}
}