@font-face {
  font-family: "ProximaNova-Black";
  src: url("../fonts/ProximaNova-Black.otf"); }
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.otf"); }
@font-face {
  font-family: "ProximaNova-BoldIt";
  src: url("../fonts/ProximaNova-BoldIt.otf"); }
@font-face {
  font-family: "ProximaNova-Extrabld";
  src: url("../fonts/ProximaNova-Extrabld.otf"); }
@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.otf"); }
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.otf"); }
@font-face {
  font-family: "ProximaNova-RegularItalic";
  src: url("../fonts/ProximaNova-RegularItalic.otf"); }
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/ProximaNova-Semibold.otf"); }
@font-face {
  font-family: "ProximaNova-LightIt";
  src: url("../fonts/ProximaNova-LightIt.otf"); }
@font-face {
  font-family: "ProximaNova-SemiboldIt";
  src: url("../fonts/ProximaNova-SemiboldIt.otf"); }
* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal; }

body {
  /*background: url(../images/design.png) no-repeat center -8px;
  opacity:0.5;*/
  background: #F4F4F4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

header {
  padding: 25px 0 33px; }

.logo {
  background: url("../images/logo.svg") no-repeat;
  height: 33px;
  width: 180px;
  margin: 0 auto; }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 55px;
  background: #FFFFFF;
  border-radius: 6px; }

.header {
  max-width: 765px;
  margin: 0 auto; }
  .header h1 {
    font-family: "ProximaNova-Light";
    font-size: 32px;
    line-height: 32px;
    margin: 0 20px 22px;
    color: #393939;
    text-align: center; }

.horizontal-separator {
  height: 1px;
  background: #F4F4F4;
  clear: both; }

.box-left {
  float: left;
  height: 110px;
  color: #393939;
  text-align: left; }
  .box-left p {
    font-family: "ProximaNova-Regular";
    font-size: 16px;
    margin: 13px 0 -4px;
    line-height: 32px;
    font-weight: bold; }
  .box-left h1 {
    font-family: "ProximaNova-Semibold";
    font-size: 24px;
    margin: -6px 0 2px;
    line-height: 32px; }
  .box-left h2 {
    font-family: "ProximaNova-Regular";
    font-size: 18px;
    margin: 0 0 16px;
    line-height: 22px;
    font-weight: bold; }
  .box-left b {
    font-family: "ProximaNova-Bold"; }

.box-right {
  float: right;
  height: 110px; }
  .box-right p {
    font-family: "ProximaNova-Regular";
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    margin: 55px -4px 16px 0px;
    color: #888888; }
  .box-right em {
    color: #FF0066; }
  .box-right a {
    border-bottom: #888888;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    color: #888888;
    text-decoration: none; }

.header .title {
  margin-top: 37px;
  margin-bottom: 60px; }
  .header .title h2 {
    font-size: 24px;
    line-height: 30px;
    font-family: "ProximaNova-Regular";
    color: #393939;
    text-align: center; }

.prices {
  margin: 0 auto;
  text-align: center; }
  .prices .column {
    width: 279px;
    color: #393939;
    border-style: solid;
    height: 336px;
    display: inline-block;
    margin-left: -2px;
    margin-right: -3px;
    border-width: 3px;
    border-color: #393939;
    vertical-align: top; }
    .prices .column h1, .prices .column h2 {
      font-family: "ProximaNova-Semibold";
      font-size: 32px;
      margin: 26px 0 19px; }
    .prices .column h2 {
      margin: 19px 0 -4px; }
    .prices .column p {
      font-family: "ProximaNova-Regular";
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 14px; }
    .prices .column label {
      font-family: "ProximaNova-Regular";
      margin-left: 3px; }
      .prices .column label em {
        font-family: "ProximaNova-Semibold"; }
    .prices .column button {
      font-family: "ProximaNova-Regular";
      font-size: 18px;
      line-height: 34px;
      width: 210px;
      height: 34px;
      border-radius: 5px;
      border: none;
      background: #393939;
      color: #FFFFFF; }
  .prices .column.business {
    width: 347px;
    height: 371px;
    margin-top: -24px;
    background: #393939; }
    .prices .column.business h1 {
      margin: 51px 0 19px -10px; }
    .prices .column.business h1, .prices .column.business p, .prices .column.business h2, .prices .column.business em {
      color: #FFFFFF;
      text-align: center; }
    .prices .column.business em {
      font-family: "ProximaNova-Semibold";
      font-size: 32px; }
    .prices .column.business .price {
      height: 83px; }
    .prices .column.business button {
      margin-top: -8px;
      background: #FF0066;
      color: #FFFFFF; }
    .prices .column.business .separator {
      background: #888888; }
  .prices .column.start-up {
    border-right: none; }
  .prices .price {
    text-align: left;
    height: 114px; }
    .prices .price button {
      margin: 69px 0 0 3px;
      background: #FFFFFF;
      color: #393939;
      border: #393939;
      border-style: solid;
      border-width: 2px; }
    .prices .price p {
      margin: 31px 0 0 -20px; }
  .prices .column.enterprise {
    border-left: none; }
    .prices .column.enterprise .price {
      text-align: center; }
  .prices .separator {
    height: 1px;
    background: #B7B7B7;
    width: 81px;
    margin: 0 auto; }

input[type=radio] {
  transform: scale(1.2); }

input[type=radio]#month {
  margin: 40px 0 0 60px; }

input[type=radio]#year {
  margin: 8px 0 0 60px; }

input[type=radio]:checked#year {
  margin-top: 10px; }

input[type="radio"]:checked + label {
  font-size: 16px;
  line-height: 22px;
  vertical-align: sub; }

input[type="radio"]:checked + label em {
  font-size: 32px; }

input[type="radio"]:not(:checked) + label {
  font-size: 14px;
  line-height: 22px; }

input[type="radio"]:not(:checked) + label em {
  font-size: 16px;
  line-height: 22px; }

button {
  cursor: pointer; }

.questions {
  margin-top: 31px;
  margin-bottom: 26px; }
  .questions p {
    font-family: "ProximaNova-Semibold";
    font-size: 20px;
    color: #393939;
    text-align: center; }
  .questions a {
    font-family: "ProximaNova-Bold";
    border-bottom: #393939;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    line-height: 26px;
    color: #393939;
    text-decoration: none; }

.includes {
  width: 944px;
  margin: 0 auto 90px;
  height: 790px; }
  .includes .column {
    float: left;
    width: 308px;
    height: 730px; }
  .includes .column.start-up {
    margin-left: 3px; }
  .includes .column.enterprise {
    margin-left: 7px; }
  .includes .column.business {
    margin-top: 28px;
    border-right-color: #E2E2E2;
    border-right-style: solid;
    border-left-color: #E2E2E2;
    border-left-style: solid;
    border-width: 1px;
    margin-left: 7px; }
    .includes .column.business .chose-if {
      margin-top: -28px; }
  .includes .separator {
    height: 2px;
    background: #CCCCCC;
    width: 40px;
    margin: 0 auto; }

.chose-if {
  height: 149px; }
  .chose-if .or {
    height: 4px;
    width: 3px;
    border-radius: 2px;
    display: block;
    background: #D8D8D8;
    text-align: center;
    margin: 0 auto; }
  .chose-if h3 {
    font-family: "ProximaNova-Semibold";
    font-size: 13px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 9px;
    color: #393939;
    text-align: center; }
  .chose-if p {
    font-family: "ProximaNova-Regular";
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
    line-height: 18px;
    margin-top: 7px;
    width: 300px;
    margin-left: 3px;
    color: #888888;
    text-align: center; }

.features h1 {
  font-family: "ProximaNova-Bold";
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 50px;
  color: #FF0066;
  text-align: center; }
.features p {
  font-family: "ProximaNova-Semibold";
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 22px;
  color: #393939;
  text-align: center; }

.hyphen {
  height: 2px;
  background: #393939;
  width: 12px;
  margin: 36px auto 42px;
  display: block; }

input[type=range].slider {
  -webkit-appearance: none;
  width: 79%;
  margin: 5px 0;
  background-color: #393939; }

input[type=range].slider:focus {
  outline: none; }

input[type=range].slider::-webkit-slider-runnable-track {
  width: 79%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255, 255, 0, 0), 0px 0px 0px rgba(255, 255, 26, 0);
  background: #4c4c4c;
  border-radius: 15.3px;
  border: 0px solid transparent; }

input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 1.7px 1.7px 0px rgba(0, 0, 0, 0.67), 0px 0px 1.7px rgba(13, 13, 13, 0.67);
  border: 0px solid transparent;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  background: #d8d8d8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px; }

input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #5b5b5b; }

input[type=range].slider::-moz-range-track {
  width: 90%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(255, 255, 0, 0), 0px 0px 0px rgba(255, 255, 26, 0);
  background: #4c4c4c;
  border-radius: 15.3px;
  border: 0px solid transparent; }

input[type=range].slider::-moz-range-thumb {
  box-shadow: 1.7px 1.7px 0px rgba(0, 0, 0, 0.67), 0px 0px 1.7px rgba(13, 13, 13, 0.67);
  border: 0px solid transparent;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  background: #d8d8d8;
  cursor: pointer; }

input[type=range].slider::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range].slider::-ms-fill-lower {
  background: #3d3d3d;
  border: 0px solid transparent;
  border-radius: 30.6px;
  box-shadow: 0px 0px 0px rgba(255, 255, 0, 0), 0px 0px 0px rgba(255, 255, 26, 0); }

input[type=range].slider::-ms-fill-upper {
  background: #4c4c4c;
  border: 0px solid transparent;
  border-radius: 30.6px;
  box-shadow: 0px 0px 0px rgba(255, 255, 0, 0), 0px 0px 0px rgba(255, 255, 26, 0); }

input[type=range].slider::-ms-thumb {
  box-shadow: 1.7px 1.7px 0px rgba(0, 0, 0, 0.67), 0px 0px 1.7px rgba(13, 13, 13, 0.67);
  border: 0px solid transparent;
  height: 30px;
  width: 18px;
  border-radius: 9px;
  background: #d8d8d8;
  cursor: pointer;
  height: 8px; }

input[type=range].slider:focus::-ms-fill-lower {
  background: #4c4c4c; }

input[type=range].slider:focus::-ms-fill-upper {
  background: #5b5b5b; }

.range-slider {
  margin-top: -12px;
  margin-bottom: -1px; }

/* Smartphones (portrait) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background: #FFFFFF; }

  header {
    background: #F4F4F4; }

  .container {
    border-radius: 0px;
    padding-top: 30px; }

  .horizontal-separator {
    margin: 0 auto;
    width: 80%; }

  .box-left {
    float: none;
    height: 70px;
    text-align: center; }

  .header .title {
    margin: 24px 20px 26px; }
    .header .title h2 {
      font-size: 17px; }

  .box-right {
    float: none;
    height: 80px; }
    .box-right p {
      margin: 55px 0 16px;
      text-align: center; }

  .prices .column {
    margin: 0; }
  .prices .column.business {
    width: 100%;
    margin-top: -3px;
    border: none; }
  .prices .column.start-up {
    border-right: solid; }
  .prices .column.enterprise {
    border-left: solid;
    margin-top: -3px; }

  .questions {
    margin: 30px 20px 25px; }
    .questions p {
      font-size: 18px; }

  .includes {
    width: 100%; }
    .includes .column {
      float: none;
      width: 100%;
      height: initial; }
      .includes .column p {
        margin: 0 auto; }
    .includes .column.business {
      border: none;
      margin: 0; }
      .includes .column.business .chose-if {
        margin-top: 0; }
    .includes .column.start-up {
      border: none;
      margin: 0; }
    .includes .column.enterprise {
      border: none;
      margin: 0;
      margin-bottom: 40px; }
    .includes .chose-if {
      height: 110px;
      margin-bottom: -30px; }
    .includes .features h1 {
      margin-bottom: 20px; }
    .includes .hyphen {
      display: none; }
    .includes .features {
      margin-bottom: 33px; }
    .includes .separator {
      display: none; } }
/* Tablet (portrait) and Smatphones (landscape) */
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
  .container {
    border-radius: 0px; }

  .box-right {
    margin-right: 5%; }

  .box-left {
    margin-left: 5%; }

  .prices .column {
    width: 31%; }
  .prices .column.business {
    width: 32%; }

  .includes {
    width: 100%; }
    .includes .column {
      width: 31%; }
      .includes .column .chose-if p {
        width: initial; }
    .includes .column.business {
      width: 32%; } }
/*  Smatphones (landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape) {
  .container {
    height: 100%; }

  .prices .column button {
    width: 80%;
    font-size: 13px; }

  input[type=radio]#year, input[type=radio]#month {
    margin-left: 34px; } }

/*# sourceMappingURL=styles.css.map */
